{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}
<h1>About the National Football League</h1>
<p>
  The National Football League (NFL) is a professional American football league
  consisting of 32 teams, divided equally between the National Football
  Conference (NFC) and the American Football Conference (AFC). The NFL is one of
  the four major North American professional sports leagues, the highest
  professional level of American football in the world,[5] the wealthiest
  professional sport league by revenue,[6] and the sport league with the most
  valuable teams.[7] The NFL's 17-week regular season runs from early September
  to late December, with each team playing 16 games and having one bye week.
  Following the conclusion of the regular season, seven teams from each
  conference (four division winners and three wild card teams) advance to the
  playoffs, a single-elimination tournament culminating in the Super Bowl, which
  is usually held on the first Sunday in February and is played between the
  champions of the NFC and AFC.
</p>

<p>
  The NFL was formed in 1920 as the American Professional Football Association
  (APFA) before renaming itself the National Football League for the 1922 season.
  After initially determining champions through end-of-season standings, a playoff
  system was implemented in 1933 that culminated with the NFL Championship Game
  until 1966. Following an agreement to merge the NFL with the American Football
  League (AFL), the Super Bowl was first held in 1967 to determine a champion
  between the best teams from the two leagues and has remained as the final game
  of each NFL season since the merger was completed in 1970.[8] Today, the NFL has
  the highest average attendance (67,591) of any professional sports league in the
  world[9] and is the most popular sports league in the United States.[10]
  The Super Bowl is also among the biggest club sporting events in the world,[11]
  with the individual games accounting for many of the most watched television
  programs in American history and all occupying the Nielsen's Top 5 tally of the
  all-time most watched U.S. television broadcasts by 2015.[12]
</p>

<p>
  The Green Bay Packers hold the most combined NFL championships with 13, winning
  nine titles before the Super Bowl era and four Super Bowls afterwards. Since the
  creation of the Super Bowl, the Pittsburgh Steelers and New England Patriots
  both have the most championship titles at six.
</p>
{% endblock content %}
